.Button {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 200px;
    min-width: 0;
    height: 60px;
    min-height: 0;
    background-color: var(--button);
    cursor: pointer;
    border: var(--borders) var(--buttonBorderThickness) solid;
    border-radius: var(--buttonBorderRadius);
    font-size: 1.5rem;
    color: var(--text);
    text-align: center;
    text-decoration: none;
}

.Button:active {
    background-color: var(--buttonActive);
    border-color: var(--buttonActiveBorder);
    color: var(--buttonActiveText);
    box-shadow: inset 0 0 1rem var(--buttonActiveBorder),
                0 0 0.5rem 0.1rem var(--buttonActiveBorder);
}

.Button span {
    position: relative;
}

@media screen and (min-aspect-ratio: 9/16) {
    .Button:hover {
        background-color: var(--buttonHover);
        border-color: var(--buttonHoverBorder);
        color: var(--buttonHoverText);
        box-shadow: inset 0 0 1rem var(--buttonHoverBorder),
                    0 0 0.5rem 0.1rem var(--buttonHoverBorder);
    }

    .Button:active {
        top: 2px;
    }
}