.Tutorial {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    overflow: scroll;
}

.Tutorial > header {
    padding: 2rem 0 0 0;
}
.Tutorial > main {
    padding: 0 33%;
}

.Tutorial > main > p {
    font-family: "Franklin Gothic";
    font-weight: 1000;
    font-size: 1.5rem;
    color: var(--headers);
    text-align: left;
}

.TutorialMessageBubble {
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    display: block;
    line-height: 4rem;
    font-size: 1rem;
    text-align: center;
    height: auto;
    width: auto;
    min-width: min-content;
    max-width: 50%;
    z-index: 100;
    border-radius: var(--borderRadius);
    overflow: hidden;
    border: var(--borders) var(--borderThickness) solid;
    padding: 0 1rem;
    background-color: var(--overlayColor);
}