.Tutorial {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    width: 100%;
}

.Tutorial > header {
    padding: 2rem 0 0 0;
}
.Tutorial > main {
    padding: 0 33%;
}

.Tutorial > main > p {
    font-size: 1.5rem;
    font-family: "Franklin Gothic";
    font-weight: 1000;
    color: var(--headers);
    text-align: left;
}

.TutorialMessageBubble {
    display: flex;
    flex-direction: column;
    justify-content: cemter;
    align-items: center;
    position: absolute;
    z-index: 100;
    top: auto;
    left: auto;
    overflow: hidden;
    width: auto;
    min-width: min-content;
    max-width: 50%;
    height: auto;
    padding: 1.5rem;
    background-color: black;
    border: var(--borders) var(--borderThickness) solid;
    border-radius: var(--borderRadius);
}

.TutorialMessageBubble p {
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
}

@media screen and (max-aspect-ratio: 9/16) {
    .TutorialMessageBubble {
        max-width: 100%;
    }   
}