.UsernameField {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--button);
    border: 3px solid var(--borders);
    border-radius: var(--buttonBorderRadius);
    font-size: 1.5rem;
    text-align: center;
}

.UsernameField label {
    min-width: fit-content;
    padding: 0 20px;
}

.UsernameField input {
    outline: none;
    min-width: 0;
    height: 100%;
    background-color: transparent;
    border: transparent;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    text-align: center;
}