.WaitingForOpponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 30;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 2%;
    background-color: var(--overlayColor);
    border-radius: var(--borderRadius);
    font-size: 3rem;
    text-align: center;
}

.WaitingForOpponent p {
    padding: 2rem;
    text-align: center;
}

@media screen and (min-aspect-ratio: 14/15) {
    .WaitingForOpponent .mainMenu {
        display: none;
    }
}

@media screen and (max-aspect-ratio: 14/15) {
    .WaitingForOpponent {
        display: grid;
        gap: var(--gridGap);
        grid-template-rows: 13fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .WaitingForOpponent p {
        grid-column: 1 / span 2;
    }

    .WaitingForOpponent .Button {
        width: 100%;
        height: 100%;
    }

    .WaitingForOpponent .mainMenu {
        display: inherit;
    }
}