.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.TitleScreen {
  align-self: flex-start;
  width: 100%;
  height: 100%;
}

.Tutorial {
  align-self: flex-start;
}

.Game {
  width: 1000px;
}

header {
  font-size: 10rem;
  text-align: center;
  width: 100%;
  font-family: starwars;
  color: var(--headers);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}