.GameBoard {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 8fr 3fr 1fr;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr;
  gap: var(--gridGap);
  background-color: var(--gameBackground);
  padding: 2%;
  border-radius: var(--borderRadius);
  border: var(--borderThickness) solid var(--borders); 
  box-sizing: border-box;
}

.GameBoard .Button {
  height: 100%;
  width: 100%;
}

.Scoreboard {
  padding: 5%;
}

.Sidedeck {
  padding: 2%;
}

.yourScoreboard {
  grid-column: 1 / span 2;
}

.yourUsername {
  grid-column: 3 / span 2;
}

.yourBoardSum {
  grid-column: 5;
}

.opponentsBoardSum {
  grid-column: 6;
}
.opponentsUsername {
  grid-column: 7 / span 2;
}

.opponentsScoreboard {
  grid-column: 9 / span 2;
}

.yourBoard {
  grid-column: 1 / span 5;
}

.opponentsBoard {
  grid-column: 6 / span 5;
}

.yourSidedeck {
  grid-column: 1 / span 5;
}

.opponentsSidedeck {
  grid-column: 6 / span 5;
}

.mainMenu {
  grid-column: 1 / span 2;
  z-index: 50;
}

.endTurn {
  grid-column: 8;
}

.stand {
  grid-column: 9 / span 2;
}

@media screen and (max-aspect-ratio: 9/16) {
  .GameBoard {
    grid-template-rows: 2fr 4fr 1fr 4fr 2fr 2fr;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    padding: 4%;
  }
  
  .Scoreboard {
    flex-direction: column;
    padding: 20%;
    box-sizing: border-box;
  }

  .Sidedeck {
    padding: 0%;
  }

  .BoardSum {
    height: 20%;
  }

  .GameBoard .Button {
    height: 100%;
    width: 100%;
  }
  
  .yourScoreboard {
    grid-row: 4;
    grid-column: 1;
  }
  
  .yourUsername {
    grid-row: 3;
    grid-column: 1 / span 2;
  }
  
  .yourBoardSum {
    grid-row: 4;
    grid-column: 5;
  }
  
  .opponentsBoardSum {
    grid-row: 2;
    grid-column: 5;
  }
  .opponentsUsername {
    grid-row: 3;
    grid-column: 4 / span 2;
  }
  
  .opponentsScoreboard {
    grid-row: 2;
    grid-column: 1;
  }
  
  .yourBoard {
    grid-row: 4;
    grid-column: 2 / span 3;
  }
  
  .opponentsBoard {
    grid-row: 2;
    grid-column: 2 / span 3;
  }
  
  .yourSidedeck {
    grid-row: 5;
    grid-column: 1 / span 5;
  }
  
  .opponentsSidedeck {
    grid-row: 1;
    grid-column: 1 / span 5;
  }
  
  .mainMenu {
    grid-row: 6;
    grid-column: 3;
    z-index: 50;
  }
  
  .endTurn {
    grid-row: 6;
    grid-column: 1 / span 2;
  }
  
  .stand {
    grid-row: 6;
    grid-column: 4 / span 2;
  }
}