.GameOver {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 2%;
    z-index: 40;

    background-color: var(--overlayColor);
    font-size: 3rem;
    border-radius: var(--borderRadius);
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.GameOver p {
    padding: 2rem;
    text-align: center;
}

@media screen and (min-aspect-ratio: 9/16) {
    .GameOver .mainMenu {
        display: none;
    }
}

@media screen and (max-aspect-ratio: 9/16) {
    .GameOver {
        display: grid;
        grid-template-rows: 13fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: var(--gridGap);
    }

    .GameOver p {
        grid-column: 1 / span 2;
    }

    .GameOver .Button {
        height: 100%;
        width: 100%;
    }

    .WaitingForOpponent .mainMenu {
        display: inherit;
    }
}