.GameBoard {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 6fr 3fr 1fr;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr 2fr 1fr 1fr;
  gap: var(--gridGap);
  background-color: var(--gameBackground);
  padding: 2%;
  border-radius: var(--borderRadius);
  border: var(--borderThickness) solid var(--borders); 
  box-sizing: border-box;
}

.GameBoard .Button {
  height: 100%;
  width: 100%;
}

.yourScoreboard {
  grid-column: 1 / span 2;
}

.yourUsername {
  grid-column: 3 / span 1;
}

.yourBoardSum {
  grid-column: 4 / span 1;
}

.opponentsBoardSum {
  grid-column: 6 / span 1;
}
.opponentsUsername {
  grid-column: 7 / span 1;
}

.opponentsScoreboard {
  grid-column: 8 / span 2;
}

.yourBoard {
  grid-column: 1 / span 4;
}

.opponentsBoard {
  grid-column: 6 / span 4;
}

.yourSidedeck {
  grid-column: 2 / span 3;
}

.opponentsSidedeck {
  grid-column: 6 / span 3;
}

.mainMenu {
  grid-column: 1 / span 2;
  z-index: 50;
}

.endTurn {
  grid-column: 7 / span 1;
}

.stand {
  grid-column: 8 / span 2;
}