:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Bruno Ace SC', cursive;

  color: var(--text);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  overflow: hidden;
  /* colors */
  --text: lightblue;
  --borders: lightblue;
  --headers: gold;
  --gameBackground: rgba(0, 0, 41, 0.7);
  --starColor: white;
  --cardBorderColor: silver;
  --defaultCardColor: goldenrod;
  --negativeCardColor: darkred;
  --positiveCardColor: darkblue;
  --cardBackColor: grey;
  --boardElementBackground: black;
  --overlayColor: rgba(0, 0, 0, 0.5);
  --scoredPointColor: orange;
  --unscoredPointColor: grey;
  --button: rgb(0, 0, 138);
  --buttonHover: rgba(0, 0, 34, 0);
  --buttonActive: red;
  --buttonBorder: lightblue;
  --buttonHoverBorder: gold;
  --buttonActiveBorder: gold;
  --buttonHoverText: gold;
  --buttonActiveText: gold;
  /* borders */
  --gridGap: 2%;
  --borderRadius: 3vh;
  --buttonBorderRadius: 5vh;
  --borderThickness: 0.25vh;
  --buttonBorderThickness: 0.25vh;
}



@font-face {
  font-family: starwars;
  src: url("./assets/Starjedi.ttf");
}

body {
  margin: 0;
}