:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Bruno Ace SC', cursive;

  color: var(--text);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  overflow: hidden;
  /* colors */
  --text: #9DD9D2;
  --borders: #9DD9D2;
  --headers: #FBC846;
  --gameBackground: rgba(0, 0, 50, 0.7);
  --starColor: white;
  --cardBorderColor: #AAA;
  --defaultCardColor: #cc9c00;
  --negativeCardColor: #A30021;
  --positiveCardColor: #1E2071;
  --cardBackColor: #777;
  --boardElementBackground: black;
  --overlayColor: rgba(0, 0, 0, 0.5);
  --waitingOverlayColor: rgba(0, 0, 0, 0.5);
  --scoredPointColor: #e0520f;
  --unscoredPointColor: #444;
  --button: #111240;
  --buttonHover: rgba(0, 0, 20, 1);
  --buttonActive: #FBC846;
  --buttonBorder: #9DD9D2;
  --buttonHoverBorder: #FBC846;
  --buttonActiveBorder: #FBC846;
  --buttonHoverText: #FBC846;
  --buttonActiveText: #FBC846;
  /* borders */
  --gridGap: 2%;
  --borderRadius: 3vh;
  --buttonBorderRadius: 5vh;
  --borderThickness: 0.25vh;
  --buttonBorderThickness: 0.25vh;
}

@font-face {
  font-family: starwars;
  src: url("./assets/Starjedi.ttf");
}

body {
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #9DD9D2;
  border-radius: 1vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #FBC846;
}

::selection {
  background: #777;
}
::-moz-selection {
  background: #777;
}