.RoomcodeField {
    height: 60px;
    width: 200px;
    border-radius: var(--buttonBorderRadius);
    font-size: 1.5rem;
    font-family: 'Bruno Ace SC', cursive;
    color: var(--text);
    background-color: transparent;
    border: var(--borders) 2px solid;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    text-align: center;
}

.RoomcodeField:hover {
    border-color: var(--borders);
}

.RoomcodeField:focus-visible {
    outline: none;
}